{{> menu id="dashboard"}}

<section class="ui segment">
    {{#each playlists}}
        <div class="border p-2 my-2">
            <h3>
                {{this.title}}
            </h3>
        </div>
    {{/each}}
</section>