{{> menu }}

<div class="card mt-3">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Web app template</h5>
    <p class="card-text">A web app template.</p>
  </div>
</div>

